/* Чекбокс */
.form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-input {
  width: 16px;
  height: 15px;
}

/* Иконка */
.checkbox-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  transition: background-color 250ms var(--timing-formating),
    background-image 250ms var(--timing-formating);
}
.checkbox-input:checked + .checkbox-icon {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.checkbox-input:focus + .checkbox-icon {
  border: 2px solid var(--hover-color);
  border-radius: 2px;
}
.checkbox-label {
  margin-left: 7px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
.checkbox-link {
  text-decoration: none;
  color: var(--hover-color);
  border-bottom: 1px solid #2196f3;
}
